.select2-container--default .select2-selection--multiple .select2-selection__choice__remove{
    left:0;
    color: white;
    opacity:1;
}
.br-header-right .dropdown .dropdown-menu-left{
    left: -1px !important;
    right: auto !important;
    top:45px !important;
}